---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'app';
@import 'syntax-highlighting';


// Our variables
$aliya-navy: #243A63;
$aliya-blue: #0099FF;
$light-grey: #eaeaea;
$pure-white: #ffffff;

$pill-radius: 400px;
$recessed-shadow: 0px 10px 33px -10px;

$sprint: all 0.20s ease-in-out;
$run: all 0.30s ease-in-out;
$jog: all 0.50s ease-in-out;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,900&display=swap');
$lato-regular: 400;
$lato-black: 900;

$base-font-family: 'Lato', sans-serif;
$base-font-size: 16px;
$base-font-weight-regular: $lato-regular;
$base-font-weight-black: $lato-black;


$spacing-unit: 30px;

$text-color: $aliya-navy;

::selection {
  background: $aliya-navy;
  color: $pure-white;
}

h1, h2, h3, h4, h5, h6{
  font-family: $base-font-family;
}

body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight-regular;
  color: $text-color;
}

.page-content{
  margin-top: 4rem;
}

header{
  margin: 2rem 0rem;
  font-size: 2rem;
  font-weight: $base-font-weight-black;
  .site-title{
    color: $text-color;
  }
  .nav-item{
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    border-radius: $pill-radius;
    color: $text-color;
    transition: $sprint;
    &:hover{
      background-color: rgba($aliya-navy,10%);
    }
  }
}

footer{
  margin-top: 5rem;
  margin-bottom: 3rem;
  .site-title{
    color: $text-color;
    font-weight: $base-font-weight-black;
  }
  .nav-item{
    font-size: 1rem;
    padding: 0.25rem 1rem;
    border-radius: $pill-radius;
    font-weight: $base-font-weight-black;
    color: $text-color;
    transition: $sprint;
    &:hover{
      background-color: rgba($aliya-navy,10%);
    }
  }
  .copyright{
    margin-top: 1rem;
    text-align: center;
  }
}

.site-intro{
  h1{
    font-size: 2.5rem;
    font-weight: $base-font-weight-black;
  }
  p{
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.projects{
  .tile{
    margin-top: 4rem;
    .image-container{
      text-align: center;
      border-radius: 30px;
      background-color: blue;
      padding: 2rem;
      transition: $sprint;
      img{
        // transition: $sprint; //Maintain Img Size Concept
        @include breakpoint(small only) {
          width: 50%;
        }
      }
    }
    .description{
      color: $text-color;
      margin-top: 1rem;
      padding: 0 1rem;
      .post-title{
        font-size: 1.5rem;
        font-weight: $base-font-weight-black;
        text-decoration: none;
        background: linear-gradient(rgba($aliya-navy,10%), rgba($aliya-navy,10%));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 0.8rem;
        transition: background-size 0.2s;
        &:focus{
          background-size: 100% 15px;
        }
        @include breakpoint(small only) {
          line-height: 1.2;
        }
      }
      .post-title-wrapper{
        margin-bottom: 0;
      }
      .excerpt{
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 0.5rem;
      }
      .post-meta{
        font-style: italic;
        color: rgba($aliya-navy,70%);
      }

    }
    &:hover{
      .image-container{
        transform: scale(1.05);
        img{
          // transform: scale(0.95);//Maintain Img Size Concept
        }
      }
      .post-title{
        background-size: 100% 0.8rem;
      }
    }
  }
}

.post{
  .image-container{
    text-align: center;
    border-radius: 30px;
    background-color: blue;
    padding: 2rem;
    transition: $sprint;
    img{
      // transition: $sprint; //Maintain Img Size Concept
      @include breakpoint(small only) {
        width: 50%;
      }
    }
  }
  .post-title{
    font-weight: $base-font-weight-black;
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin-top: 2rem;
    padding: 0 1rem;
  }
  .post-meta{
    // font-style: italic;
    font-weight: $base-font-weight-regular;
    color: rgba($aliya-navy,70%);
    padding: 0 1rem;
    font-size: 1.6rem;
  }
  .post-content{
    padding: 0 1rem;
    p{
      font-size: 1.2rem;
    }
    h2{
      font-size: 2rem;
      margin-top: 3rem;
      font-weight: $base-font-weight-black;
    }
    h3{
      font-size: 1.4rem;
      margin-top: 2rem;
      font-weight: $base-font-weight-black;
    }
    a{
      color: $aliya-blue;
      text-decoration: underline;
      font-style: italic;
      &:hover{
        background-color: rgba($aliya-blue,10%)
      }
    }
    img{
      max-width: 150%;
      width: 150%;
      margin: 0 -25%;
      @include breakpoint(small only) {
        max-width: 100%;
        width: 100%;
        margin: 0;
      }
    }
  }
}
code{
  background-color: rgba($aliya-navy,10%);
  border-radius: 4px;
  color: $aliya-navy;
  border: none;
}

.aliya{
  img{
    border-radius: 500px;
    max-width: 40%;
  }
}




// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
//
// // Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;
//
// // Use media queries like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }
