---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'syntax-highlighting';


// Our variables
$aliya-navy: #243A63;
$light-grey: #eaeaea;

$pill-radius: 400px;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
$lato-regular: 400;
$lato-black: 900;

$base-font-family: 'Lato', sans-serif;
$base-font-size: 16px;
$base-font-weight-regular: $lato-regular;
$base-font-weight-black: $lato-black;


$spacing-unit: 30px;

$text-color: $aliya-navy;

h1, h2, h3, h4, h5, h6{
  font-family: $base-font-family;
}

body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight-regular;
  color: $text-color;
}

.page-content{
  margin-top: 4rem;
}

header{
  margin: 2rem 0rem;
  font-size: 2rem;
  font-weight: $base-font-weight-black;
  .site-title{
    color: $text-color;
  }
  .nav-item{
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    border-radius: $pill-radius;
    color: $text-color;
    &:hover{
      background-color: rgba($aliya-navy,10%);
    }
  }
}

.site-intro{
  h1{
    font-size: 2.5rem;
    font-weight: $base-font-weight-black;
  }
  p{
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.projects{
  .tile{
    margin-top: 3rem;
    .image-container{
      text-align: center;
      border-radius: 30px;
      background-color: blue;
      padding: 2rem;
    }
  }
}


// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
//
// // Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;
//
// // Use media queries like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }
