<header class="grid-x align-center">
  <div class="grid-x cell small-12 medium-6">

    <div class="cell auto">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="cell shrink">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
          <div class="nav-item">
            {{ my_page.title }}
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</header>
